.about h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.about h1 span {
  color: royalblue;
}

.about p + p {
  margin-top: 10px;
}

.about p > a {
  color: royalblue;
}

.about p > a:hover {
  text-decoration: underline;
}

.github {
  margin-top: 20px;
  display: inline-block;
  background-color: royalblue;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  transition: 0.3s;
}

.github:hover {
  box-shadow: 2px 4px 20px 0 rgba(65, 105, 225, 0.35);
  transform: scale(1.05);
}
