.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  max-width: 173px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.product:hover {
  box-shadow: 2px 4px 20px 0 rgba(65, 105, 225, 0.35);
  transform: scale(1.05);
}

.product h2 {
  font-size: 1.2rem;
  color: royalblue;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product p {
  color: tomato;
}

.product img {
  margin-bottom: 20px;
  max-width: 100px;
}

.mainTitle {
  font-size: 3.1rem;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.mainTitle span {
  color: royalblue;
}
